{% extends 'base.html' %}

{% block content %}

<h1>Реальная модель с ManyToMany</h1>

<p>Рецепты связаны с ингредиентами через отношение многие-ко-многим.</p>

<div class="row">
    {% for recipe in recipes %}
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <h6>Ингредиенты:</h6>
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                            <li>{{ ingredient }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
